.card
{
	display:flex;
	border:1px solid grey;
	padding: .5rem;
	border-radius: 1rem;
	width: 15rem;
	height: 10rem;
	align-items: center;
	margin:1rem 2rem;
	z-index: 90;
}

.card img
{
	width: 5rem;
	height: 8rem;
	margin-right: 2rem;
}



.card span
{
	height: 8rem;
	display: grid;
	align-content: space-between;

}

.card span *
{
	margin: 0;
}

.author
{
	opacity: .8;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.price
{
	font-weight: bold;
	font-size: 1.1rem;
	letter-spacing: .1rem;
	color: red;
	margin-right: .3rem !important;
}


.books
{
	display: flex;
	flex-wrap: wrap;
}

button
{
	margin-bottom: 1rem;
	border:none;
	margin-right: .5rem;
	font-size: 1.2rem;
	border-radius: .2rem;
	background-color: white;
	border:1px grey solid;

}

button:focus
{
	background-color: red;
	font-weight: bold;
	color:white;

}


.card:hover
{
	cursor: pointer;
	transform: translateY(-.4rem);
	box-shadow: rgba(0,0,0,.1) 0rem 0rem 2rem;
	transition: .3s;
}

.addToCartBtn
{
	width: 5rem;
	font-size: .7rem;
	font-weight: bold;

}

.container
{
	width: 42rem;
	border:1px grey solid;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: rgba(0,0,0,.1) 0rem 0rem 1rem;
	position: relative;
	min-height: 25rem;
}

body
{
	place-items:center;
	display: grid;
	height: 90vh;
	margin: 0;
	padding: 0;
}

#root
{
	display: grid;
	place-items:center;
}

.clicked
{
	background-color: red;
}

.rate
{
	display: flex;
	width: 5rem;
	justify-content: space-around;
	list-style: none;
	margin-right:0;
	margin-left:auto;
	padding:  0;
	color:red;
}

.rate *
{
	font-size: 1.3rem;

}


.userMenu 
{
	list-style: none;
	position: absolute;
	background-color: white;
	border-radius: 1rem;
	padding: .7rem;
	border:1px solid grey; 
	font-weight: bold;	
	width: 10rem;
	text-align: center;
	 box-shadow: rgba(0,0,0,.1) 0rem 0rem 2rem;
	 right: 0;
	 z-index:100;
	 margin: 0 1rem;
}

.drawer
{
	position: absolute;
	background-color: white;
	border-radius: 1rem;
	border:1px solid grey; 
	width: 12rem;
	 box-shadow: rgba(0,0,0,.1) 0rem 0rem 2rem;
	min-height: 10rem;
	padding: .7rem;
	 z-index:98;	
	 margin: 0 1rem;
	 right: 0;
}

.cartCards
{
	overflow: auto;
	max-height: 30rem;
	padding-right:1rem; 
}


.userMenu li
{
	border-bottom: 1px solid grey;
	

}



li:hover
{
	opacity: .6;
	cursor: pointer;
}

.rate li:hover
{
	opacity: 1;
	filter:brightness(8);
}

.headerIcon 
{
	width: 1.5rem;
	height: 1.5rem;
	margin-left:1rem;
}
.headerIcon:hover 
{
	cursor: pointer;
	opacity: .6;
}

.header
{
	text-align: right;
}

.overBar
{
	background-color:grey;
	left: 0;
	top: 0;
	opacity: .05;
	z-index: 95;
	width: 100vw;
	height: 100vh;
	position: fixed;
}




.notification
{
	border-radius: .5rem;
	border:1px grey solid;
	padding: 1rem;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	margin-bottom: .6rem;
}

.notification:hover
{
	cursor: pointer;
	transform: translateY(-.1rem);
	box-shadow: rgba(0,0,0,.1) 0rem 0rem 2rem;
	transition: .2s;

}

.notification div
{
    display: flex;
	justify-content: space-between;	
	align-items: center;
}

.notDelete
{
	font-size: 1.5rem;
	margin-left: .5rem;
	font-weight: bold;
	height:  3rem;
	width: 2rem;
	display: grid;
	place-items:center;

}

.notDelete:hover
{
	opacity: .6;
}


.redPoint
{
	color: red;
	font-size: 2rem;
}

.notText
{
	padding-right: .5rem; 
}

.notText p
{
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
}

.link
{
	color:#555;
	text-decoration: none;

}

.headTitle
{
	display: flex;
	align-items: center;
	letter-spacing: .1rem;
}

.supportText
{
	width:90% ;
	 resize: vertical ;
	 font-size: 17px;
	 min-height: 4rem;
	 margin-bottom: 1rem;
	 margin-right: auto;
	 margin-left: auto;

}


.support
{
	border-radius: .5rem;
	border:1px grey solid;
	padding: 1rem;
	display: grid;
	align-items: flex-end;
}

.supportSentBtn
{
	margin:  0;
	width: 20%;
	margin-left: auto;
	margin-right: 0;
}


.mapouter
{
	position:relative;
	text-align:right;
	height:30rem;
	width:100%;

}

.gmap_canvas
{
	overflow:hidden;
	background:none!important;
	height:30rem;
	width:100%;
	border-radius: 1rem;

}



.settings
{
	display: grid;
	margin-top: 1rem;
}

.settingsInputArea
{
	margin-bottom: 1rem;
	height: 2rem; 
	display: flex;
	justify-content: space-between;
	border:1px solid grey;
	border-radius: .2rem;
}

.settings input
{
	width: 100%;
	border:none;
	outline: none;
	background-color:rgba(0,0,0,0);
	padding-left: 1rem;


}

.submitBtn
{
	justify-content: center;
	letter-spacing: .1rem;
	margin:0;
	height: 2.2rem;
}

.errorText
{
	color: red;
	letter-spacing: .1rem;
	white-space: nowrap;
}

.cartItem
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cartDelete
{
	font-size: 1rem;
	font-weight: bold;
	width: 1rem;
	text-align: right;
}

.cartDelete:hover
{
	opacity: .6;
	cursor: pointer;

}


/**************************************/


@media (max-width: 600px)
{

.container
{
	width:23rem;
}

.books
{
	display: grid;
}

.card
{
	width: 80%;
	
}

.settingsInputArea
{
	
	display: grid;
	justify-content: normal;

	
}

.errorText
{
	font-size:.6rem;
}


}